body {
	background-image: url("BKG.png");
	background-size: cover;
}

p {
	font-size: 16pt;
	font-family: Arial;
}

#logowrap {
	align: center;
}

img {
	display: block;
	margin: auto;
}



#bodywrap {
	color: #000000;
	background-color: rgb(243, 236, 28);
	align: center;
	border-left-style: solid;
	border-bottom-style:solid;
	border-width: 7px;
	border-color: rgb(175, 175, 0);
	margin: 2% 5% 2% 5%;
	padding: 10px 20px 10px 20px;
	word-wrap: break-word;
	font-family: Arial;
	overflow: hidden;
}

#teams {
	align: center;
	margin: 2% 5% 2% 5%;
	padding: 10px 20px 10px 20px;
	word-wrap: break-word;
}

#left {
	Align: center;
	Width:45%;
}
#right {
	Align: center;
	Width:50%;
}

#leftie {
  float: left;
  width: 50%;
  overflow: hidden;
}

#rightie {
float: right;
  width: 50%;
  overflow: hidden;
}

a:link {
    color: rgb(191,3,1);
}

a:visited {
    color:  rgb(86,9,5);
}
a:hover {
    color: rgb(191,3,1);
}
a:active {
    color: rgb(245,77,77);
}

h2 {
	color: rgb(35, 45, 10);
	text-align: center;
	font-size: 20pt;
	font-family: Arial;
}

h3 {
	color: rgb(35, 45, 10);
	text-align: center;
	font-size: 16pt;
	font-family: Arial;
}

table {
	width: 90%;
	align: center;
	margin: auto;
}
tr {
	Width: 50%
	Height: 400px;
	align: center;
	margin: auto;
}
#vid {
	display: block;
	margin: 10px;
}

#split {
	width= 50%;
	Align= right;
}
	

iframe { 
	display: block;
	margin: auto;
}

#vid {
	display: block;
	margin: 10px;
	width= 50%;
}

/*making the video responsive*/
.vimeo-youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
.vimeo-youtube iframe,
.vimeo-youtube object,
.vimeo-youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
	

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 7px solid rgb(175, 175, 0);
    background-color: rgb(175, 175, 0);
	font-family: Arial;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
  padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color:rgb(243, 236, 100);}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: rgb(243, 236, 28);}

/* Style the tab content */
.tabcontent {
    display: none;
	padding: 20px 30px 20px 30px;
    border-left: 7px solid rgb(175, 175, 0);
	border-bottom: 7px solid rgb(175, 175, 0);
	background-color: rgb(243, 236, 28);
	font-family: Arial;
}


.mySlides {
	margin: auto;
	padding: auto;
	width: 85%;
	img-align:center;
}
.w3-content{max-width:980px;margin:auto}
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-badge,.w3-tag,.w3-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.w3-badge{border-radius:50%}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-transparent{background-color:transparent!important}
.w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
.w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}
	